# --- OS Metadata ---
.DS_Store
Thumbs.db

# --- Node / React (Frontend) ---
**/node_modules/
**/build/
**/dist/
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# --- Java / Gradle (Backend) ---
**/build/
**/.gradle/
**/bin/
**/out/
.gradle
gradle-app.setting
!gradle-wrapper.jar

# --- IDEs ---
.vscode/
.idea/
*.iml
*.iws
.settings/
.project
.classpath

# --- Database ---
*.sql
*.sqlite